@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap');
*{
    font-family: 'Source Sans Pro', sans-serif;
}
:root{
    --colorFondo:  #fffefe;
    --colorficuras: #f1f5f7;
    --colorAzulMarino: #1D3763;
    --colorAzulGrisOscuro: #8297ab;
    --colorAzulMarinoClaro: #447498;
}

body{
    overflow-x: hidden;
}

.contenedor{
    width: 100%;
    background: var(--colorFondo);
}
/* Menu de navegación */
.navbar{
    /* border: solid 3px red; */
    z-index: 20 !important;
    width: 100%;
    position: absolute !important;
    top: 0 !important;
    padding-left: 6% !important;
    padding-right: 6% !important;
    /* background: var(--colorFondo); */
    
}
.navbar img{
    /* border: solid 3px red; */
    width: 4.2em;

}
.navbarScroll{
    position: fixed !important;
    background: var(--colorFondo);
    box-shadow: rgb(180, 180, 180) 2px 1px 5px;
    transition: .5s;
}

.btn-empezar{
    
    animation: brillo 2s linear infinite;
    background: var(--colorAzulMarino) !important;
    color: var(--colorFondo) !important;

}
.btn-empezar:hover{
    border: solid 1px var(--colorAzulMarino) !important;
    background: var(--colorAzulMarinoClaro) !important;
}

.dropdown-menu{
    background: #1d37638c !important;
    
}
.dropdown-menu a{
    color: var(--colorFondo) !important;
}
.dropdown-menu a:hover{
    background: var(--colorficuras);
    color: var(--colorAzulMarino) !important;
}

/* .loader::after, .loader::before{
    animation: loader 2s linear infinite;
    content: "";
    border: solid 8px #fff;
    position: absolute;
    width: 65px;
    height: 65px;
    border-radius: 50%;
}
.loader::after{
    opacity: 0;
    animation-delay: 1s;
} */

/* @keyframes loader {
    0%{
        transform: scale(0);
        opacity: 1;
    }
    100%{
        transform: scale(1);
        opacity: 0;
    }
} */
@keyframes brillo {
    0%{
        box-shadow: var(--colorFondo) 0 8px 15px;
        

    }
    50%{
        box-shadow: var(--colorAzulMarino) 0 8px 20px;
       
    }
    100%{
        box-shadow: var(--colorFondo)  0 8px 25px;
        

    }
}



/* Portada */
.contenedor-portada{
    width: 100%;
    height: 80vh;
    /* border: solid red 3px; */
    /* margin-bottom: 5%; */
    background: var(--colorficuras);
    /* border: solid 3px red; */
}
.contenedor-portada .carousel{
    width: 100%;
    height: 100%;
    /* border: solid rgb(0, 132, 255) 3px; */
}
.contenedor-portada .carousel-inner, .contenedor-portada .carousel-item{
    width: 100%;
    height: 100%;
}
.contenedor-portada img{
    object-fit: cover;
    /* border: solid 3px red; */
    height: 100% !important;
}

.contenedor-portada svg{
    /* border: solid 3px yellow ; */
    width: 100%;
    position: absolute;
    bottom: 0;
}
.contenedor-portada svg path{
    fill: var(--colorFondo);
}
.carousel-control-prev span, .carousel-control-next span{
    border-radius: 50%;
    padding: 18px !important;
}

.carousel-caption{
    /* border: solid red 3px; */
    width: 55%;
    height: 55%;
    position: absolute !important;
    top: 20%;
    left: 8% !important;
    right: auto !important;
    text-align: left !important;
    background: #8297ab48;
    padding: 2%;
    border-radius: 15px;
    /* backdrop-filter: blur(3px); */

}
.carousel-caption h5{
    font-size: 4.5em;
    font-weight: 700;
}
.carousel-caption p{
    font-size: 22px;
}
.carousel-caption h5, .carousel-caption p{
    text-shadow: var(--colorAzulMarinoClaro) 1px 10px 15px;
}
.carousel-caption-3{
    height: 55%;
}
.carousel-indicators{
    /* border: solid rgb(55, 0, 255) 3px; */
    top: 70vh;
}






/* Fin portada */

/* Sección valores o beneficio */
.cont-seccion-beneficio, .cont-beneficios, .cont-beneficio{
    display: flex;
    align-items: center;
}
.cont-seccion-beneficio{
    /* position: absolute; */
    /* border: solid rgb(255, 0, 128) 3px; */
    width: 100%;

    flex-direction: column;

}
.cont-texto-subTitulo{
    width: 80%;
    text-align: center;
}
.cont-texto-subTitulo h2{
    font-size: 35px;
}
.cont-texto-subTitulo p{
    font-size: 17px;
}

.cont-beneficios{
    /* border: solid rgb(255, 0, 221) 3px; */
    width: 80%;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    padding-top: 4%;
}
.cont-beneficio{
    padding-bottom: 2%;
    flex-direction: column;
    
   
}
.circulo-valor{
    position: relative;
    top: 25px !important;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background: var(--colorAzulMarinoClaro);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color: var(--colorFondo);

}
.circulo-valor i{
    font-size: 25px;
}
.cont-beneficio p{
    /* border: solid 2px var(--colorAzulMarino); */
    border-radius: 15px;
    margin-bottom: 3%;
    text-align: center;
    width: 240px;
    height: 120px;
    box-shadow: gray 1px 5px 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 19px;
    padding-left: 2%;
    padding-right: 2%;
}



/* Fin sección valores o beneficio */

/* Sección acerca de nosotros */
.cont-seccion-acercaDeNosotros, .cont-info-nosotros, .cont-seccion-mision, .cont-seccion-vision{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
}


.cont-seccion-acercaDeNosotros{
    /* border: solid red 3px; */
    width: 100%;
    background: linear-gradient(-23deg, var(--colorficuras) 50%, var(--colorFondo) 50%);
    padding-top: 10%;
    padding-bottom: 10%;
}
/* .cont-info-nosotros{
    border: solid 3px red;
} */
.text-info-nosotros{
    /* border: solid 3px red; */
    width: 40%;
}
.text-info-nosotros h5{
    font-size: 26px;
    border-left: solid 5px var(--colorAzulMarinoClaro);
    padding-left: 2%;
    border-radius: 10px;
}
.text-info-nosotros p{
    text-align: justify;
    box-shadow: var(--colorAzulGrisOscuro) 0 5px 5px;
    padding: 5%;
    border-radius: 10px;
    border-bottom-right-radius: 50px;

}
.cont-info-nosotros img{
    width: 450px;
    height: 300px;
    object-fit: cover;
    border-radius: 20px;
    box-shadow: var(--colorAzulMarinoClaro) 1px 5px 10px;
}

.cont-seccion-mision{
    /* border: solid rgb(0, 102, 255) 3px; */
    width: 100%;
    background: var(--colorficuras);

}
.cont-seccion-mision, .cont-seccion-vision{
    padding-top: 5%;
    padding-bottom: 5%;
}
.cont-seccion-vision{
    /* border: solid red 3px; */
    width: 100%;
    background: linear-gradient( 341.5deg, var(--colorFondo) 50%, var(--colorficuras) 50%);
}
.btn-vermas{
    border: 1px solid var(--colorAzulMarinoClaro) !important;
    color: var(--colorAzulMarinoClaro) !important;
}
.btn-vermas:hover{
    background: var(--colorAzulMarinoClaro) !important;
    color: var(--colorFondo) !important;
}


.desenfocar{
    /* border: solid 3px red; */
    z-index: 10;
    position: fixed !important;
    top: 0;
    width: 100%;
    height: 100vh;
    backdrop-filter: blur(20px);
}
.enfocar{
    z-index: 10;
}

/*Fin sección acerca de nosotros */

/* Sección equipo de trabajo */
.cont-personal{
    /* border: solid 3px red; */
    width: 100%;
    height: 600px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 5%;
}

.cont-text-personal, .cont-carrusel-personal{
    width: 90%;
    text-align: center;
}


/* Fin sección equipo de trabajo */

.cont-enblemas{
    z-index: 3;
    /* border: solid 3px red; */
    position: fixed;
    top: 50vh !important;
    left: 0;
    display: flex;
    flex-direction: column;
    background: #4474985b;
    border-radius: 15px;
    padding: 1% 1% 1% 0;
    box-shadow: var(--colorAzulMarinoClaro) 0 5px 5px;

}
.btn-enblemas{
    /* border: solid 2px red; */
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 25px;
    color: var(--colorAzulMarino);
    text-decoration: none;
    border-radius: 10px;
    width: 100%;
    padding: 4px;
}
.btn-enblemas p{
    margin: 0;
    font-size: 20px;
    
}
.ocultar{
    display: none !important;
}
.btn-enblemas i{
    margin-left: 5px;
}

.btn-enblemas:hover{
    background: var(--colorAzulMarinoClaro);
    color: var(--colorFondo);
}

/* Inicio pie de pagína */

.pie-pagina,.cont-info-pie-pagina, .cont-creditos{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

}
.pie-pagina{
    z-index: 6;
    /* border: solid 3px red; */
    width: 100%;
    background: var(--colorAzulMarino);
    padding-left: 6%;
    padding-right: 6%;
    padding-bottom: 2%;
    justify-content: space-between;
    border-bottom: solid 2px #274883;
    color: white;
}
.pie-pagina p{
    margin: 1.5%;
    color: #92a5c5;
    cursor: pointer;
}

.cont-logo-info{
    /* border: solid 3px yellow; */
    width: 20%;
}
.cont-logo-info p{
    font-size: 13px;
}
.cont-logo-info img{
    width: 100%;
    background: #fff;
    border-radius: 10px;
}
.cont-info-pie-pagina{
    /* border: solid 3px rgb(0, 255, 0); */
    width: 70%;
}

.cont-eventos-piePagina{
    margin-right: 2%;
}
.redesSociales{
    /* border: solid 3px red; */
    width: 100% !important;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.redesSociales i{
    color: var(--colorFondo);
    font-size: 25px;
    
}

.cont-recursos p:hover, .cont-eventos-piePagina p:hover, .cont-redesSociales-footer p:hover{
    color: #96bcfd;
}

.cont-redesSociales-footer{
    width: 110px !important;
}

.efecto-curva-up{
    z-index: 5;
    /* border: solid 3px red; */
    fill:var(--colorAzulMarino);
    position: relative;
    top: 1.5px;
}


.cont-creditos{
    width: 100%;
    background: var(--colorAzulMarino);
    align-items: center;
    justify-content: space-between;
    padding-left: 6%;
    padding-right: 6%;
    padding-top: 1%;
    color: #92a5c5;
}

